{{define "form/socks"}}
<a-form layout="horizontal" :label-col="{ span: 11 }" :wrapper-col="{ span: 12 }">
    <a-row :gutter="16">
        <a-col :span="8">
            <a-form-item label="密码认证">
                <a-switch :checked="inbound.settings.auth === 'password'"
                          @change="checked => inbound.settings.auth = checked ? 'password' : 'noauth'"></a-switch>
            </a-form-item>
        </a-col>
        <template v-if="inbound.settings.auth === 'password'">
            <a-col :span="8">
                <a-form-item label="用户名">
                    <a-input v-model.trim="inbound.settings.accounts[0].user"></a-input>
                </a-form-item>
            </a-col>
            <a-col :span="8">
                <a-form-item label="密码">
                    <a-input v-model.trim="inbound.settings.accounts[0].pass"></a-input>
                </a-form-item>
            </a-col>
        </template>
        <a-col :span="8">
            <a-form-item label="启用 udp">
                <a-switch v-model="inbound.settings.udp"></a-switch>
            </a-form-item>
        </a-col>
        <a-col :span="8" v-if="inbound.settings.udp">
            <a-form-item label="IP">
                <a-input v-model.trim="inbound.settings.ip"></a-input>
            </a-form-item>
        </a-col>
    </a-row>
</a-form>
{{end}}