[Unit]
Description=AetherUI Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/a-ui/
ExecStart=/usr/local/a-ui/a-ui

[Install]
WantedBy=multi-user.target