{{define "inboundModal"}}
<a-modal id="inbound-modal" v-model="inModal.visible" :title="inModal.title" @ok="inModal.ok"
         :confirm-loading="inModal.confirmLoading" :closable="true" :mask-closable="false"
         :ok-text="inModal.okText" cancel-text='{{ i18n "close" }}'>
    {{template "form/inbound"}}
</a-modal>
<script>

    const inModal = {
        title: '',
        visible: false,
        confirmLoading: false,
        okText: '确定',
        confirm: null,
        inbound: new Inbound(),
        dbInbound: new DBInbound(),
        ok() {
            ObjectUtil.execute(inModal.confirm, inModal.inbound, inModal.dbInbound);
        },
        show({ title='', okText='确定', inbound=null, dbInbound=null, confirm=(inbound, dbInbound)=>{} }) {
            this.title = title;
            this.okText = okText;
            if (inbound) {
                this.inbound = Inbound.fromJson(inbound.toJson());
            } else {
                this.inbound = new Inbound();
            }
            if (dbInbound) {
                this.dbInbound = new DBInbound(dbInbound);
            } else {
                this.dbInbound = new DBInbound();
            }
            this.confirm = confirm;
            this.visible = true;
            this.loadProvinces();
        },
        provinces: [],
        provincesLoaded: false,
        async loadProvinces() {
            // 只拉一次：地区列表来自本地 IP 库，一个进程周期内不会变。
            if (this.provincesLoaded) {
                return;
            }
            const msg = await HttpUtil.post('/xui/inbound/provinces');
            if (msg.success) {
                this.provinces = msg.obj.list;
                this.provincesLoaded = true;
            }
        },
        close() {
            inModal.visible = false;
            inModal.loading(false);
        },
        loading(loading) {
            inModal.confirmLoading = loading;
        },
    };

    const protocols = {
        VMESS: Protocols.VMESS,
        VLESS: Protocols.VLESS,
        TROJAN: Protocols.TROJAN,
        SHADOWSOCKS: Protocols.SHADOWSOCKS,
        DOKODEMO: Protocols.DOKODEMO,
        SOCKS: Protocols.SOCKS,
        HTTP: Protocols.HTTP,
    };

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#inbound-modal',
        data: {
            inModal: inModal,
            Protocols: protocols,
            SSMethods: SSMethods,
            FLOW_CONTROL: FLOW_CONTROL,
            TLS_VERSION_OPTION: TLS_VERSION_OPTION,
            TLS_CIPHER_OPTION: TLS_CIPHER_OPTION,
            UTLS_FINGERPRINT: UTLS_FINGERPRINT,
            ALPN_OPTION: ALPN_OPTION,
            SNIFFING_OPTION: SNIFFING_OPTION,
            REALITY_TARGET_PRESETS: REALITY_TARGET_PRESETS,
            echLoading: false,
            realityLoading: false,
            mldsaLoading: false,
            get inbound() {
                return inModal.inbound;
            },
            get dbInbound() {
                return inModal.dbInbound;
            },
            get provinces() {
                return inModal.provinces;
            }
        },
        methods: {
            streamNetworkChange(oldValue) {
                if (oldValue === 'kcp') {
                    this.inModal.inbound.tls = false;
                }
            }
        }
    });

</script>
{{end}}