<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    /* 入站列表整行点击即展开（已去掉 antd 默认的 + 图标列），
       给一个手型提示。内层在线明细表是 small 尺寸，排除掉。 */
    #app .ant-table:not(.ant-table-small) .ant-table-tbody > tr {
        cursor: pointer;
    }

    /* antd 给 .ant-tag 的默认外边距是 `0 8px 0 0`，只有右边。单元格居中时
       这 8px 也算进内容宽度，于是标签整体被推左 4px，看起来就和表头对不齐。
       改成左右各 4px：单个标签正好居中，相邻两个标签之间仍是 8px，
       窄列里换行堆叠的多个标签（如 ws / tls）也各自居中。 */
    #app .ant-table-tbody > tr > td .ant-tag {
        margin: 0 4px;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">
                <transition name="list" appear>
                    <a-tag v-if="false" color="red" style="margin-bottom: 10px">
                        Please go to the panel settings as soon as possible to modify the username and password, otherwise there may be a risk of leaking account information
                    </a-tag>
                </transition>
                <transition name="list" appear>
                    <a-card hoverable style="margin-bottom: 20px;">
                        <a-row>
                            <a-col :xs="24" :sm="24" :lg="12">
                                总上传 / 下载：
                                <a-tag color="green">[[ sizeFormat(total.up) ]] / [[ sizeFormat(total.down) ]]</a-tag>
                            </a-col>
                            <a-col :xs="24" :sm="24" :lg="12">
                                总用量：
                                <a-tag color="green">[[ sizeFormat(total.up + total.down) ]]</a-tag>
                            </a-col>
                            <a-col :xs="24" :sm="24" :lg="12">
                                入站数量：
                                <a-tag color="green">[[ dbInbounds.length ]]</a-tag>
                            </a-col>
                        </a-row>
                    </a-card>
                </transition>
                <transition name="list" appear>
                    <a-card hoverable>
                        <div slot="title">
                            <a-button type="primary" icon="plus" @click="openAddInbound"></a-button>
                        </div>
<!--                        <a-input v-model="searchKey" placeholder="搜索" autofocus style="max-width: 300px"></a-input>-->
                        <a-table :columns="columns" :row-key="dbInbound => dbInbound.id"
                                 :data-source="dbInbounds"
                                 :loading="spinning" :scroll="{ x: 1240 }"
                                 :pagination="false"
                                 :expanded-row-keys="expandedKeys"
                                 :expand-row-by-click="true"
                                 :expand-icon-as-cell="false"
                                 :expand-icon-column-index="-1"
                                 @expand="onExpand"
                                 style="margin-top: 20px"
                                 @change="() => getDBInbounds()">
                            <template slot="expandedRowRender" slot-scope="dbInbound">
                                <a-alert v-if="onlineOf(dbInbound.id).reason"
                                         type="info" show-icon style="margin-bottom: 12px"
                                         :message="onlineOf(dbInbound.id).reason"></a-alert>
                                <a-table v-if="onlineOf(dbInbound.id).supported"
                                         :columns="onlineColumns"
                                         :data-source="onlineOf(dbInbound.id).list"
                                         :row-key="online => online.ip"
                                         :pagination="false" size="small"
                                         :locale="{ emptyText: '当前没有在线连接。人已离线时，可从左侧「操作 → 访问日志」查看他来过之后留下的记录' }">
                                    <template slot="firstSeen" slot-scope="text, online">
                                        <template v-if="online.firstSeen">[[ DateUtil.formatMillis(online.firstSeen) ]]</template>
                                        <template v-else>-</template>
                                    </template>
                                    <template slot="onlineIp" slot-scope="text, online">
                                        [[ online.ip ]]
                                        <a-tooltip v-if="online.blocked">
                                            <template slot="title">
                                                超出并发额度，连接已被断开。最近一次：[[ DateUtil.formatMillis(online.rejectedAt) ]]
                                            </template>
                                            <a-tag color="red">超额被拒</a-tag>
                                        </a-tooltip>
                                        <a-tooltip v-if="online.idle">
                                            <template slot="title">
                                                连接还在，但已超过设定的闲置超时没有任何流量，当前不占用并发额度
                                            </template>
                                            <a-tag color="orange">闲置</a-tag>
                                        </a-tooltip>
                                        <a-tooltip v-if="online.banned">
                                            <template slot="title">[[ banDesc(online) ]]</template>
                                            <a-tag color="red">已封禁</a-tag>
                                        </a-tooltip>
                                    </template>
                                    <template slot="location" slot-scope="text, online">
                                        <a-tag v-if="online.location" color="blue">[[ online.location ]]</a-tag>
                                        <a-tag v-else>未知</a-tag>
                                        <a-tooltip v-if="online.locationAlt">
                                            <template slot="title">
                                                两个离线库判定不一致。另一个源认为是：[[ online.locationAlt ]]
                                            </template>
                                            <a-tag color="orange">存疑</a-tag>
                                        </a-tooltip>
                                    </template>
                                    <template slot="speed" slot-scope="text, online">
                                        <a-tag color="green">↑ [[ sizeFormat(online.upSpeed) ]]/s</a-tag>
                                        <a-tag color="blue">↓ [[ sizeFormat(online.downSpeed) ]]/s</a-tag>
                                    </template>
                                    <template slot="onlineTraffic" slot-scope="text, online">
                                        [[ sizeFormat(online.up) ]] / [[ sizeFormat(online.down) ]]
                                    </template>
                                    <template slot="onlineAction" slot-scope="text, online">
                                        <a-button v-if="online.conns > 0" type="link" size="small"
                                                  style="color: #FF4D4F"
                                                  @click="kickOnline(dbInbound, online)">踢下线</a-button>
                                        <a-button v-if="online.banned" type="link" size="small"
                                                  @click="unbanOnline(dbInbound, online)">解除封禁</a-button>
                                        <a-button type="link" size="small"
                                                  @click="showAccessLog(dbInbound, online.ip)">访问日志</a-button>
                                    </template>
                                </a-table>
                                <div style="margin-top: 16px">
                                    <a-radio-group size="small" :value="trafficRangeOf(dbInbound.id)"
                                                   @change="e => changeTrafficRange(dbInbound.id, e.target.value)">
                                        <a-radio-button value="24h">24 小时</a-radio-button>
                                        <a-radio-button value="7d">7 天</a-radio-button>
                                        <a-radio-button value="30d">30 天</a-radio-button>
                                        <a-radio-button value="1y">1 年</a-radio-button>
                                    </a-radio-group>
                                    <a-alert v-if="trafficReasonOf(dbInbound.id)" type="info" show-icon
                                             style="margin-top: 12px"
                                             :message="trafficReasonOf(dbInbound.id)"></a-alert>
                                    <div style="position: relative; height: 220px; margin-top: 12px">
                                        <canvas :id="'traffic-chart-' + dbInbound.id"></canvas>
                                    </div>
                                </div>
                            </template>
                            <template slot="action" slot-scope="text, dbInbound">
                                <a-dropdown :trigger="['click']">
                                    <a @click="e => { e.preventDefault(); e.stopPropagation(); }">操作</a>
                                    <a-menu slot="overlay" @click="a => clickAction(a, dbInbound)">
                                        <a-menu-item v-if="dbInbound.hasLink()" key="qrcode">
                                            <a-icon type="qrcode"></a-icon>二维码
                                        </a-menu-item>
                                        <a-menu-item key="edit">
                                            <a-icon type="edit"></a-icon>编辑
                                        </a-menu-item>
                                        <a-menu-item key="resetTraffic">
                                            <a-icon type="retweet"></a-icon>重置流量
                                        </a-menu-item>
                                        <a-menu-item key="renew">
                                            <a-icon type="clock-circle"></a-icon>续期
                                        </a-menu-item>
                                        <a-menu-item key="accessLog">
                                            <a-icon type="file-search"></a-icon>访问日志
                                        </a-menu-item>
                                        <a-menu-item key="delete">
                                            <span style="color: #FF4D4F">
                                                <a-icon type="delete"></a-icon>删除
                                            </span>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </template>
                            <template slot="protocol" slot-scope="text, dbInbound">
                                <a-tag color="blue">[[ dbInbound.protocol ]]</a-tag>
                            </template>
                            <template slot="traffic" slot-scope="text, dbInbound">
                                <a-tag color="blue">[[ sizeFormat(dbInbound.up) ]] / [[ sizeFormat(dbInbound.down) ]]</a-tag>
                                <template v-if="dbInbound.total > 0">
                                    <a-tag v-if="dbInbound.up + dbInbound.down < dbInbound.total" color="cyan">[[ sizeFormat(dbInbound.total) ]]</a-tag>
                                    <a-tag v-else color="red">[[ sizeFormat(dbInbound.total) ]]</a-tag>
                                </template>
                                <a-tag v-else color="green">无限制</a-tag>
                            </template>
                            <template slot="settings" slot-scope="text, dbInbound">
                                <a-button type="link" @click.stop="showInfo(dbInbound)">查看</a-button>
                            </template>
                            <template slot="stream" slot-scope="text, dbInbound, index">
                                <template v-if="dbInbound.isVMess || dbInbound.isVLess || dbInbound.isTrojan || dbInbound.isSS">
                                    <a-tag color="green">[[ inbounds[index].stream.network ]]</a-tag>
                                    <a-tag v-if="inbounds[index].stream.isTls" color="blue">tls</a-tag>
                                </template>
                                <template v-else>无</template>
                            </template>
                            <template slot="enable" slot-scope="text, dbInbound">
                                <span @click.stop>
                                    <a-switch v-model="dbInbound.enable" @change="switchEnable(dbInbound)"></a-switch>
                                </span>
                            </template>
                            <template slot="regions" slot-scope="text, dbInbound">
                                <template v-if="dbInbound.regionList.length > 0">
                                    <a-tag v-for="r in dbInbound.regionList" :key="r" color="purple">[[ r ]]</a-tag>
                                </template>
                                <a-tag v-else color="green">不限制</a-tag>
                            </template>
                            <template slot="online" slot-scope="text, dbInbound">
                                <template v-if="onlineCountOf(dbInbound.id).supported">
                                    <a-tag v-if="onlineCountOf(dbInbound.id).count > 0" color="green">
                                        [[ onlineCountOf(dbInbound.id).count ]] 台
                                    </a-tag>
                                    <a-tag v-else>0</a-tag>
                                </template>
                                <a-tooltip v-else>
                                    <!-- 数不出来必须显示「—」而不是 0：把「看不到」渲染成「没人在线」，
                                         管理员就会对着一个假的 0 做判断。 -->
                                    <template slot="title">[[ onlineCountOf(dbInbound.id).reason ]]</template>
                                    <a-tag style="cursor: help">—</a-tag>
                                </a-tooltip>
                            </template>
                            <template slot="concurrency" slot-scope="text, dbInbound">
                                <a-tag v-if="dbInbound.concurrencyLimit > 0" color="orange">
                                    [[ dbInbound.concurrencyLimit ]] IP
                                </a-tag>
                                <a-tag v-else color="green">无限制</a-tag>
                            </template>
                            <template slot="rate" slot-scope="text, dbInbound">
                                <template v-if="dbInbound.upMbit > 0 || dbInbound.downMbit > 0">
                                    <a-tag color="orange">
                                        [[ dbInbound.upMbit > 0 ? dbInbound.upMbit + 'M' : '不限' ]] /
                                        [[ dbInbound.downMbit > 0 ? dbInbound.downMbit + 'M' : '不限' ]]
                                    </a-tag>
                                </template>
                                <a-tag v-else color="green">不限制</a-tag>
                            </template>
                            <template slot="expiryTime" slot-scope="text, dbInbound">
                                <template v-if="dbInbound.expiryTime > 0">
                                    <a-tag v-if="dbInbound.isExpiry" color="red">
                                        [[ DateUtil.formatMillis(dbInbound.expiryTime) ]]
                                    </a-tag>
                                    <a-tag v-else color="blue">
                                        [[ DateUtil.formatMillis(dbInbound.expiryTime) ]]
                                    </a-tag>
                                </template>
                                <a-tag v-else color="green">无限期</a-tag>
                            </template>
                        </a-table>
                    </a-card>
                </transition>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
<script src="{{ .base_path }}assets/chart.js/chart.umd.min.js?{{ .cur_ver }}"></script>
<script src="{{ .base_path }}assets/js/util/chart-util.js?{{ .cur_ver }}"></script>
<script>

    const columns = [{
        title: "操作",
        align: 'center',
        width: 70,
        scopedSlots: { customRender: 'action' },
    }, {
        title: "启用",
        align: 'center',
        width: 80,
        scopedSlots: { customRender: 'enable' },
    }, {
        title: "id",
        align: 'center',
        dataIndex: "id",
        width: 50,
    }, {
        title: "备注",
        align: 'center',
        width: 100,
        dataIndex: "remark",
    }, {
        title: "协议",
        align: 'center',
        width: 90,
        scopedSlots: { customRender: 'protocol' },
    }, {
        title: "端口",
        align: 'center',
        dataIndex: "port",
        width: 80,
    }, {
        title: "流量↑|↓",
        align: 'center',
        width: 150,
        scopedSlots: { customRender: 'traffic' },
    }, {
        title: "详情",
        align: 'center',
        width: 70,
        scopedSlots: { customRender: 'settings' },
    }, {
        title: "传输",
        align: 'center',
        width: 70,
        scopedSlots: { customRender: 'stream' },
    }, {
        title: "到期",
        align: 'center',
        width: 100,
        scopedSlots: { customRender: 'expiryTime' },
    }, {
        title: "地区",
        align: 'center',
        width: 110,
        scopedSlots: { customRender: 'regions' },
    }, {
        title: "在线",
        align: 'center',
        width: 80,
        scopedSlots: { customRender: 'online' },
    }, {
        title: "并发",
        align: 'center',
        width: 80,
        scopedSlots: { customRender: 'concurrency' },
    }, {
        title: "限速↑|↓",
        align: 'center',
        width: 110,
        scopedSlots: { customRender: 'rate' },
    }];

    // 展开行：某个入站上每个来源 IP 的在线明细。
    const onlineColumns = [{
        title: "上线时间",
        align: 'center',
        width: 140,
        scopedSlots: { customRender: 'firstSeen' },
    }, {
        title: "来源 IP",
        align: 'center',
        width: 180,
        scopedSlots: { customRender: 'onlineIp' },
    }, {
        title: "归属地",
        align: 'center',
        width: 160,
        scopedSlots: { customRender: 'location' },
    }, {
        title: "连接数",
        align: 'center',
        width: 60,
        dataIndex: "conns",
    }, {
        title: "实时网速",
        align: 'center',
        width: 200,
        scopedSlots: { customRender: 'speed' },
    }, {
        title: "本次上线用量↑|↓",
        align: 'center',
        width: 140,
        scopedSlots: { customRender: 'onlineTraffic' },
    }, {
        title: "操作",
        align: 'center',
        width: 160,
        scopedSlots: { customRender: 'onlineAction' },
    }];

    // 展开行没有数据时的占位，避免模板里到处判空。
    const emptyOnline = { supported: false, reason: '正在读取连接表...', list: [] };

    // 「在线设备」列首次拉到数据之前的占位。不能直接显示 0——「还没数出来」
    // 与「没人在线」是两回事，与展开行同一条口径。
    const emptyOnlineCount = { supported: false, count: 0, reason: '正在读取连接表...' };

    // Chart 实例不放进 Vue 的 data：它是个庞大的对象，做成响应式既没有
    // 意义，还会拖慢每一次重绘。
    const trafficCharts = {};

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            inbounds: [],
            dbInbounds: [],
            searchKey: '',
            onlineColumns,
            expandedKeys: [],
            trafficRanges: {},
            trafficReasons: {},
            onlines: {},
            onlineTimer: null,
            // 列表页那一列：inboundId -> OnlineCount。整个接口失败时用
            // onlineCountError 逐行退回「—」，而不是让所有行显示 0。
            onlineCounts: {},
            onlineCountError: '',
            onlineCountTimer: null,
            // 踢下线弹窗里选中的封禁时长（秒）：0 只断开，-1 永久。
            kickBanSeconds: 0,
        },
        methods: {
            loading(spinning=true) {
                this.spinning = spinning;
            },
            async getDBInbounds() {
                this.loading();
                const msg = await HttpUtil.post('/aui/inbound/list');
                this.loading(false);
                if (!msg.success) {
                    return;
                }
                this.setInbounds(msg.obj);
            },
            setInbounds(dbInbounds) {
                this.inbounds.splice(0);
                this.dbInbounds.splice(0);
                for (const inbound of dbInbounds) {
                    const dbInbound = new DBInbound(inbound);
                    this.inbounds.push(dbInbound.toInbound());
                    this.dbInbounds.push(dbInbound);
                }
            },
            searchInbounds(key) {
                if (ObjectUtil.isEmpty(key)) {
                    this.searchedInbounds = this.dbInbounds.slice();
                } else {
                    this.searchedInbounds.splice(0, this.searchedInbounds.length);
                    this.dbInbounds.forEach(inbound => {
                        if (ObjectUtil.deepSearch(inbound, key)) {
                            this.searchedInbounds.push(inbound);
                        }
                    });
                }
            },
            clickAction(action, dbInbound) {
                switch (action.key) {
                    case "qrcode":
                        this.showQrcode(dbInbound);
                        break;
                    case "edit":
                        this.openEditInbound(dbInbound);
                        break;
                    case "resetTraffic":
                        this.resetTraffic(dbInbound);
                        break;
                    case "renew":
                        this.openRenew(dbInbound);
                        break;
                    case "accessLog":
                        this.showAccessLog(dbInbound, '');
                        break;
                    case "delete":
                        this.delInbound(dbInbound);
                        break;
                }
            },
            openAddInbound() {
                inModal.show({
                    title: '添加入站',
                    okText: '添加',
                    confirm: async (inbound, dbInbound) => {
                        inModal.loading();
                        await this.addInbound(inbound, dbInbound);
                        inModal.close();
                    }
                });
            },
            openEditInbound(dbInbound) {
                const inbound = dbInbound.toInbound();
                inModal.show({
                    title: '修改入站',
                    okText: '修改',
                    inbound: inbound,
                    dbInbound: dbInbound,
                    confirm: async (inbound, dbInbound) => {
                        inModal.loading();
                        await this.updateInbound(inbound, dbInbound);
                        inModal.close();
                    }
                });
            },
            async addInbound(inbound, dbInbound) {
                const data = {
                    up: dbInbound.up,
                    down: dbInbound.down,
                    total: dbInbound.total,
                    remark: dbInbound.remark,
                    enable: dbInbound.enable,
                    expiryTime: dbInbound.expiryTime,
                    concurrencyLimit: dbInbound.concurrencyLimit,
                    regions: dbInbound.regions,
                    upMbit: dbInbound.upMbit,
                    downMbit: dbInbound.downMbit,

                    listen: inbound.listen,
                    port: inbound.port,
                    protocol: inbound.protocol,
                    settings: inbound.settings.toString(),
                    streamSettings: inbound.stream.toString(),
                    sniffing: inbound.canSniffing() ? inbound.sniffing.toString() : '{}',
                };
                await this.submit('/aui/inbound/add', data, inModal);
            },
            async updateInbound(inbound, dbInbound) {
                const data = {
                    up: dbInbound.up,
                    down: dbInbound.down,
                    total: dbInbound.total,
                    remark: dbInbound.remark,
                    enable: dbInbound.enable,
                    expiryTime: dbInbound.expiryTime,
                    concurrencyLimit: dbInbound.concurrencyLimit,
                    regions: dbInbound.regions,
                    upMbit: dbInbound.upMbit,
                    downMbit: dbInbound.downMbit,

                    listen: inbound.listen,
                    port: inbound.port,
                    protocol: inbound.protocol,
                    settings: inbound.settings.toString(),
                    streamSettings: inbound.stream.toString(),
                    sniffing: inbound.canSniffing() ? inbound.sniffing.toString() : '{}',
                };
                await this.submit(`/aui/inbound/update/${dbInbound.id}`, data, inModal);
            },
            openRenew(dbInbound) {
                renewModal.show({
                    dbInbound: dbInbound,
                    confirm: async (payload) => {
                        renewModal.loading();
                        await this.submit(`/aui/inbound/renew/${dbInbound.id}`, payload, renewModal);
                        renewModal.close();
                    },
                });
            },
            resetTraffic(dbInbound) {
                this.$confirm({
                    title: '重置流量',
                    content: '确定要重置流量吗?',
                    okText: '重置',
                    cancelText: '取消',
                    onOk: () => {
                        const inbound = dbInbound.toInbound();
                        dbInbound.up = 0;
                        dbInbound.down = 0;
                        this.updateInbound(inbound, dbInbound);
                    },
                });
            },
            delInbound(dbInbound) {
                this.$confirm({
                    title: '删除入站',
                    content: '确定要删除入站吗?',
                    okText: '删除',
                    cancelText: '取消',
                    onOk: () => this.submit('/aui/inbound/del/' + dbInbound.id),
                });
            },
            showQrcode(dbInbound) {
                const link = dbInbound.genLink();
                qrModal.show('二维码', link);
            },
            showInfo(dbInbound) {
                infoModal.show(dbInbound);
            },
            switchEnable(dbInbound) {
                this.submit(`/aui/inbound/update/${dbInbound.id}`, dbInbound);
            },
            onlineCountOf(id) {
                if (this.onlineCountError) {
                    return { supported: false, count: 0, reason: this.onlineCountError };
                }
                return this.onlineCounts[id] || emptyOnlineCount;
            },
            async loadOnlineCounts() {
                // 同 loadOnlines：这个接口每 2 秒轮询一次，走 HttpUtil 的话
                // 每次失败都会弹一条 message，很快就能把屏幕刷满。错误就地
                // 显示在那一列的 tooltip 里。
                try {
                    const resp = await axios.post('/aui/inbound/onlineCounts');
                    const data = resp.data;
                    if (!data || !data.success) {
                        this.onlineCountError = (data && data.msg) || '读取在线设备数失败';
                        return;
                    }
                    const counts = {};
                    (data.obj || []).forEach(c => { counts[c.inboundId] = c; });
                    this.onlineCounts = counts;
                    this.onlineCountError = '';
                } catch (e) {
                    this.onlineCountError = e.toString();
                }
            },
            onlineOf(id) {
                return this.onlines[id] || emptyOnline;
            },
            onExpand(expanded, dbInbound) {
                if (expanded) {
                    this.expandedKeys = this.expandedKeys.concat([dbInbound.id]);
                    this.loadOnlines(dbInbound.id);
                    this.loadTrafficChart(dbInbound.id);
                } else {
                    this.expandedKeys = this.expandedKeys.filter(id => id !== dbInbound.id);
                    this.$delete(this.onlines, dbInbound.id);
                    this.destroyTrafficChart(dbInbound.id);
                }
                this.syncOnlineTimer();
            },
            async loadOnlines(id) {
                // 这里刻意不用 HttpUtil：它会把每次失败都弹成 message，
                // 而这个接口每 2 秒轮询一次，失败时会刷屏。错误就地显示在展开行里。
                try {
                    const resp = await axios.post(`/aui/inbound/onlines/${id}`);
                    const data = resp.data;
                    if (data && data.success) {
                        this.$set(this.onlines, id, data.obj);
                    } else {
                        this.$set(this.onlines, id, {
                            supported: false,
                            reason: (data && data.msg) || '读取在线明细失败',
                            list: [],
                        });
                    }
                } catch (e) {
                    this.$set(this.onlines, id, { supported: false, reason: e.toString(), list: [] });
                }
            },
            syncOnlineTimer() {
                const needTimer = this.expandedKeys.length > 0;
                if (needTimer && this.onlineTimer == null) {
                    this.onlineTimer = setInterval(() => {
                        this.expandedKeys.forEach(id => this.loadOnlines(id));
                    }, 2000);
                } else if (!needTimer && this.onlineTimer != null) {
                    clearInterval(this.onlineTimer);
                    this.onlineTimer = null;
                }
            },
            trafficRangeOf(id) {
                return this.trafficRanges[id] || '24h';
            },
            trafficReasonOf(id) {
                return this.trafficReasons[id] || '';
            },
            changeTrafficRange(id, range) {
                // Vue 2 无法侦测新增的对象属性，必须走 $set。
                this.$set(this.trafficRanges, id, range);
                this.loadTrafficChart(id);
            },
            async loadTrafficChart(id) {
                const range = this.trafficRangeOf(id);
                const msg = await HttpUtil.post('/aui/inbound/traffic/history/' + id, { range: range });
                if (!msg.success) {
                    return;
                }
                const data = msg.obj;
                this.$set(this.trafficReasons, id, data.reason || '');
                // 等 Vue 把 canvas 渲染进 DOM 再取它：expandedRowRender 是
                // 动态渲染的，指令执行时元素还不存在。
                this.$nextTick(() => {
                    const canvas = document.getElementById('traffic-chart-' + id);
                    if (!canvas) {
                        return;
                    }
                    this.destroyTrafficChart(id);
                    trafficCharts[id] = new Chart(canvas, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [
                                {
                                    label: '上传',
                                    data: data.points.map(p => p.up),
                                    borderColor: '#52c41a',
                                    backgroundColor: 'rgba(82, 196, 26, 0.1)',
                                    borderWidth: 2, pointRadius: 0, tension: 0.3, fill: true,
                                },
                                {
                                    label: '下载',
                                    data: data.points.map(p => p.down),
                                    borderColor: '#1890ff',
                                    backgroundColor: 'rgba(24, 144, 255, 0.1)',
                                    borderWidth: 2, pointRadius: 0, tension: 0.3, fill: true,
                                },
                            ],
                        },
                        options: trafficChartOptions(12),
                    });
                });
            },
            destroyTrafficChart(id) {
                // Chart 实例持有 canvas 引用与 resize 监听。不销毁的话，反复
                // 展开折叠会一直累积，页面开几小时就会明显吃内存。
                if (trafficCharts[id]) {
                    trafficCharts[id].destroy();
                    delete trafficCharts[id];
                }
            },
            showAccessLog(dbInbound, ip) {
                accessLogModal.show({ dbInbound: dbInbound, ip: ip });
            },
            kickOnline(dbInbound, online) {
                // 只断开的话客户端下一秒就能重连，并发额度判定每轮重算、额度够了照样放行。
                // 所以这里让管理员选一个封禁时长，0 保留原来的「只断开」行为。
                this.kickBanSeconds = 0;
                this.$confirm({
                    title: `踢下线 - ${online.ip}`,
                    okText: '确定',
                    cancelText: '取消',
                    content: (h) => h('div', [
                        h('p', '选择封禁时长。封禁期内该来源每一轮都会被断开，且不占用并发额度。'),
                        // 用非受控的 defaultValue：$confirm 的 content 只渲染一次，
                        // 传受控 value 的话点了选不上（组件拿不到更新后的值）。
                        h('a-radio-group', {
                            props: { defaultValue: 0 },
                            on: { change: (e) => { this.kickBanSeconds = e.target.value; } },
                        }, [
                            h('a-radio', { props: { value: 0 }, style: { display: 'block', lineHeight: '30px' } }, '仅断开（客户端可立即重连）'),
                            h('a-radio', { props: { value: 300 }, style: { display: 'block', lineHeight: '30px' } }, '封禁 5 分钟'),
                            h('a-radio', { props: { value: 1800 }, style: { display: 'block', lineHeight: '30px' } }, '封禁 30 分钟'),
                            h('a-radio', { props: { value: 3600 }, style: { display: 'block', lineHeight: '30px' } }, '封禁 1 小时'),
                            h('a-radio', { props: { value: 86400 }, style: { display: 'block', lineHeight: '30px' } }, '封禁 24 小时'),
                            h('a-radio', { props: { value: -1 }, style: { display: 'block', lineHeight: '30px' } }, '永久封禁（需手动解除）'),
                        ]),
                    ]),
                    onOk: async () => {
                        const banSeconds = this.kickBanSeconds;
                        const msg = await HttpUtil.post(`/aui/inbound/kick/${dbInbound.id}`,
                            { ip: online.ip, banSeconds: banSeconds });
                        if (msg.success) {
                            const suffix = banSeconds === 0 ? '' : '，已加入封禁名单';
                            this.$message.success(`已断开 ${msg.obj} 条连接${suffix}`);
                            await this.loadOnlines(dbInbound.id);
                        }
                    },
                });
            },
            unbanOnline(dbInbound, online) {
                this.$confirm({
                    title: '解除封禁',
                    content: `确定解除对 ${online.ip} 的封禁吗？解除后它可以立即重新连接。`,
                    okText: '解除',
                    cancelText: '取消',
                    onOk: async () => {
                        const msg = await HttpUtil.post(`/aui/inbound/unban/${dbInbound.id}`, { ip: online.ip });
                        if (msg.success) {
                            this.$message.success('已解除封禁');
                            await this.loadOnlines(dbInbound.id);
                        }
                    },
                });
            },
            banDesc(online) {
                if (!online.banned) return '';
                if (!online.banExpiresAt) return '永久封禁，需手动解除';
                return '封禁至 ' + DateUtil.formatMillis(online.banExpiresAt);
            },
            async submit(url, data, modal) {
                const msg = await HttpUtil.postWithModal(url, data, modal);
                if (msg.success) {
                    await this.getDBInbounds();
                }
            },
        },
        watch: {
            searchKey(value) {
                this.searchInbounds(value);
            }
        },
        mounted() {
            this.getDBInbounds();
            this.loadOnlineCounts();
            // 与展开行同频。两者共用同一份采样快照（sample() 有 500ms 闸门），
            // 所以多开一个轮询不会增加读内核连接表的次数。
            this.onlineCountTimer = setInterval(() => this.loadOnlineCounts(), 2000);
        },
        beforeDestroy() {
            if (this.onlineTimer != null) {
                clearInterval(this.onlineTimer);
                this.onlineTimer = null;
            }
            if (this.onlineCountTimer != null) {
                clearInterval(this.onlineCountTimer);
                this.onlineCountTimer = null;
            }
        },
        computed: {
            total() {
                let down = 0, up = 0;
                for (let i = 0; i < this.dbInbounds.length; ++i) {
                    down += this.dbInbounds[i].down;
                    up += this.dbInbounds[i].up;
                }
                return {
                    down: down,
                    up: up,
                };
            }
        },
    });

</script>
<script>
    // 模板引擎是 html/template，script 上下文里的插值会自动做 JS 字符串
    // 转义并补齐引号，所以这里不要自己加引号（写字面量花括号会被模板引擎
    // 当成一个空的模板动作而解析失败，因此本注释里不能出现它）。
    const PanelDefaults = {
        domain: {{ .default_domain }},
        certFile: {{ .default_cert_file }},
        keyFile: {{ .default_key_file }},
    };
</script>
{{template "inboundModal"}}
{{template "promptModal"}}
{{template "qrcodeModal"}}
{{template "textModal"}}
{{template "inboundInfoModal"}}
{{template "renewModal"}}
{{template "accessLogModal"}}
</body>
</html>